<div class="container">
    <div class="todo-container">
      <div class="row">
        <h2>To-Do List for {{formatDate(todayDate)}} 
          <span>
            <mat-form-field appearance="fill">
              <mat-label>Select Date</mat-label>
              <mat-select [(value)]="selectedDate" (selectionChange)="onDateSelected()">
                <mat-option value="today">Today</mat-option>
                <mat-option value="tomorrow">Tomorrow</mat-option>
                <mat-option value="dayAfterTomorrow">Day after Tomorrow</mat-option>
              </mat-select>
            </mat-form-field>
            
          </span></h2>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Search by Name</mat-label>
            <input type="text" matInput [(ngModel)]="searchQuery"
                   placeholder="">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-radio-group [(ngModel)]="filter">
            <mat-radio-button value="all">All</mat-radio-button>
            <mat-radio-button value="completed">Completed</mat-radio-button>
            <mat-radio-button value="notCompleted">Not Completed</mat-radio-button>
          </mat-radio-group>
       </div>
        <div class="col">
          <button mat-raised-button color="warn" (click)="fRes()">Filter</button>
          <button mat-raised-button color="basic" (click)="reset()">Reset</button>
        </div>
      </div>
       <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Activity Name</th>
            <th>Completed</th>
            <!--<th>Date</th>-->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
       
          <tr *ngFor="let task of filteredTasks">
            
            <td>{{ task.id }}</td>
            <td>{{task.activityName}}</td>
           <td>{{ task.isCompleted ? 'Yes' : 'No' }}</td>
            <!--<th>{{todo.date}}</th>-->
            <td>
              <div class="row">
                <div class="col">
                   <button  class="btn btn-success" [disabled]="task.isCompleted" (click)="checkActivity(task)">Check</button>
                </div>
                <div class="col">
                  <button class="btn btn-warning" (click)="editActivity(task)">Edit</button>
                </div>
                <div class="col">
                  <button class="btn btn-danger" (click)="deleteActivity(task)">Delete</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
              <td colspan="4">
                <div class="row footerRow">
                  <div class="col">
                    <!--<input type="text" placeholder="Add activity" [(ngModel)]="newActivity.activityName">-->
                    <mat-form-field class="example-full-width">
                      <mat-label>Activity Name</mat-label>
                      <input type="text" matInput [(ngModel)]="newActivity.activityName"
                             placeholder="Ex. play football">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Choose a date</mat-label>
                      <input [(ngModel)]="newActivityDate" matInput [matDatepicker]="picker" [min]="todayDateForPicker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <ngb-timepicker [(ngModel)]="newActivityTime"/>
                   </div>
                   <div class="col">
                    <button mat-flat-button color="primary" [disabled]="newActivity.activityName == '' || !newActivityDate || !newActivityTime || isTimeInPast(newActivityTime)" (click)="addActivity(newActivity)">Add</button>
                  </div>
                </div>
              </td>
            </tr>
          </tfoot>
      </table>
    </div>
  </div>
  