<div class="modal-header bg-warning text-white">
    <h4 class="modal-title">Edit {{taskToEdit.activityName}}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body bg-light text-dark">
    <mat-form-field class="example-full-width">
        <mat-label>Activity Name</mat-label>
        <input type="text" matInput [(ngModel)]="newActivityName"
               placeholder="Ex. play football">
      </mat-form-field>
  </div>
  <div class="modal-footer bg-light">
    <button type="button" class="btn btn-primary" (click)="saveChanges(taskToEdit)">Save changes</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
  </div>

